 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="dark">About</h2>
                </div>
            </div>
            <div class="row">
              <p class="about-p"><b style="font-size: 26px">Welcome to my website. </b>{{ site.about.p1 }}
              <span id="timeAlive"></span>
              </p>
					<script>
          function ago(date) {
            function render(n, unit) {
            	if (unit == "minute"){
               return n + " " + unit + ((n == 1) ? "" : "s and ");
              }
              else {
               return n + " " + unit + ((n == 1) ? "" : "s ");
							}
            }
					  var str = "";
    		    var seconds = Math.floor((Date.now() - date.getTime()) / 1000);
    			  var interval = Math.floor(seconds / (60 * 60 * 24 * 365));
            var extra = seconds - (interval * 60 * 60 * 24 * 365);
						
    		  	if (interval >= 1) {
    			    str += render(interval, "year");
    		  	}
    		  	interval = Math.floor(extra / (60 * 60 * 24 * 31));
            extra = extra - (interval * 60 * 60 * 24 * 31);
   			    if (interval >= 1) {
     		  	  str += render(interval, "month");
   		  	  }
   		  	  interval = Math.floor(extra / (60 * 60 * 24));
            extra = extra - (interval * 60 * 60 * 24);
			  	  if (interval >= 1) {
			  	    str += render(interval, "day");
    	  		}
    	  		interval = Math.floor(extra / (60 * 60));
    	  		extra = extra - (interval * 60 * 60);
            if (interval >= 1) {
    	  		    str += render(interval, "hour");
    	  		}
    	  		interval = Math.floor(extra / 60);
      			extra = extra - (interval * 60);
            if (interval >= 1) {
      			    str += render(interval, "minute");
      			}
      			interval = Math.floor(extra);
      			str += render(interval, "second");
            return str;
		  	}
		  	var date = new Date(Date.UTC(1995, 10, 29, 2, 1, 2, 3));
        document.getElementById("test1").innerHTML = (new Date() - date) / 1000;
		  	document.getElementById("timeAlive").innerHTML = ago(date);
       </script>
					</div>
            <div class="row">
                <p class="about-p">{{ site.about.p2 }}</p>
            </div>
            <div class="row">
                <p class="about-p">{{ site.about.p3 }}</p>
            </div>
					  <div class="row">
                <p class="about-p">{{ site.about.p4 }}</p>
            </div>
        </div>
    </section>
