 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="dark">About</h2>
                </div>
            </div>
            <div class="row">
              <p class="about-p"><b style="font-size: 26px">Welcome to my website. </b>{{ site.about.p1 }}
              <span id="timeAlive"></span>
              </p>
							<script>
              function ago(date) {
                function render(n, unit) {
           			  return n + " " + unit + ((n == 1) ? "" : "s");
              	}

    		        var seconds = Math.floor((new Date() - date) / 1000);
    						var interval = Math.floor(seconds / (60 * 60 * 24 * 30 * 365));
								
    						if (Math.floor(seconds / (60 * 60 * 24 * 30 * 365)) >= 1) {
    						    return render(interval, "year");
    						}
    						interval = Math.floor(seconds / (60 * 60 * 24 * 30));
   						 if (interval >= 1) {
     						   return render(interval, "month");
   						 }
   						 interval = Math.floor(seconds / (60 * 60 * 24));
   						 if (interval >= 1) {
    						    return render(interval, "day");
    						}
    						interval = Math.floor(seconds / (60 * 60));
    						if (interval >= 1) {
    						    return render(interval, "hour");
    						}
    						interval = Math.floor(seconds / 60);
    						if (interval >= 1) {
    						    return render(interval, "minute and");
    						}
    						interval = Math.floor(seconds);
    						return render(interval, "second");
						 }
						 var date = Date.UTC(1995, 11, 29, 2, 1, 2, 3);
						 document.getElementById("timeAlive").innerHTML = ago(date);
             </script>
						</div>
            <div class="row">
                <p class="about-p">{{ site.about.p2 }}</p>
            </div>
            <div class="row">
                <p class="about-p">{{ site.about.p3 }}</p>
            </div>
					  <div class="row">
                <p class="about-p">{{ site.about.p4 }}</p>
            </div>
        </div>
    </section>
