 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="dark">About</h2>
                </div>
            </div>
            <div class="row">
                <p class="about-p">{{ site.about.p1 }}</p>
            </div>
            <div class="row">
                <p class="about-p">{{ site.about.p2 }}</p>
            </div>
            <div class="row">
                <p class="about-p">{{ site.about.p3 }}</p>
            </div>
        </div>
    </section>
