<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Daniel Hines | Web Designer, iOS Developer | danielchines.github.io</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />
<!--
	<link rel="stylesheet" type="text/css" href="//yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="_includes/css/resume.css" media="all" />
-->
</head>
<body id="resume">

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u name">
					<h1>Daniel Hines</h1>
					<h2>Front-end Designer & Developer</h2>
				</div>
				<div class="yui-u contact">
					<div class="contact-info">
						<h3><a id="pdf" href="Resume - Technical.pdf" download>Download PDF</a></h3>
						<h3><a href="mailto:daniel.c.hines@vanderbilt.edu">daniel.c.hines@vanderbilt.edu</a></h3>
						<h3>(224) 422-8462</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">
<!-- 					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Progressively evolve cross-platform ideas before impactful infomediaries. Energistically visualize tactical initiatives before cross-media catalysts for change. 
							</p>
						</div>
					</div><!--// .yui-gf -->
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<div class="education">
								<h2 style="margin: 0 0 5px 0">Vanderbilt University &mdash; Nashville, TN</h2>
								<h4>Expected, May 2018</h4>
								<p class="resume" style="margin-bottom: 5px">ACT Composite: 35</p>
								<p class="resume"><strong>Major: </strong>Computer Science (3.31)</p>
								<p class="resume" style="margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid rgba(204, 204, 204, 0.3);"><strong>Minors: </strong>Engineering Management (3.77) & Spanish (3.77)</p>
								<div class="coursework">
									<h3><b>Current Coursework:</b></h3>
									<h4 style="width: 439px; top: 2px">Algorithms, Artificial Intelligence, Virtual Reality, and Project Management</h4>
								</div>
								<div class="coursework" style="margin-bottom: 4em;">
									<h3><b>Relevent Past Coursework:</b></h3>
									<h4 style="width: 395px; top: 2px">Technology Strategy, Software Design, Programming Languages, Operating Systems, Web-Based System Architecture, Computer Organizatinon, Data Structures</h4>
								</div>
							</div>
							<div class="education last">
								<h2 style="margin: 15px 0 5px 0">IES Madrid Study Abroad Program &mdash; Madrid, Spain</h2>
								<h4>Fall 2016</h4>
								<ul>
									<li class="job">Spent 15 weeks living with a Spanish hostmom who spoke strictly Spanish</li>
									<li class="job last">16 credit hours including engineering courses, allowed time for travel</li>
								</ul>
							</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Web Development</h2>
									<p class="resume">Solid understanding of CSS/Bootstrap as well as client-server communication, specifically with NodeJS and Query. Created and formatted this website in about six days.</p>
								</div>

								<div class="talent" style="margin-right: 2%">
									<h2>UI/UX Design</h2>
									<p class="resume">Experience designing apps, websites and other side projects using Photoshop, Draw.io, XCode and HTML/CSS/Bootstrap. Examples with screenshots are in the <a href="https://danielchines.github.io/#projects">Projects</a> section.</p>
								</div>

								<div class="talent" style="margin-right: 2%">
									<h2>iOS Development</h2>
									<p class="resume">Independently published a simple iOS puzzle game, designed and developed the UI for a <a href="https://backme.com">productivity/social media app</a>, and have an internship at <a href="https://menud.co">Menud</a> to gain experience with Swift 3.0.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2 style="width: 150px;">Languages</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>HTML/CSS</li>
								<li>Javascript</li>
								<li class="last">MATLAB</li>
							</ul>

							<ul class="talent">
								<li>JQuery</li>
								<li>NodeJS</li>
								<li class="last">Markdown</li>
							</ul>

							<ul class="talent">
								<li>Swift (3.0)</li>
								<li>C/C++</li>
								<li class="last">Java</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->
<!-- 						Add Menud -->
						<div class="yui-u">
							<div class="job">
								<h2>BackMe Inc.</h2>
								<h3>Co-Founder and COO</h3>
								<h4>Summer 2016 - Present</h4>
								<ul>
									<li class="job">One of two founders of a productivity-based mobile app company</li>
									<li class="job last">Spent over 250 hours designing the website (www.backme.com) and application using photoshop and Swift; currently programming the front-end design of version 1.0</li>
								</ul>
							</div>
							<div class="job">
								<h2>North Shore Custom Living</h2>
								<h3>Demolition Crew</h3>
								<h4>Summer 2015</h4>
								<p class="resume">Worked 7a.m. – 3p.m. (Mon-Fri) under a construction manager to remove drywall, plumbing, etc. out of four different residential buildings in Chicago.</p>
							</div>
							<div class="job last">
								<h2>Flowers for Dreams</h2>
								<h3>Sales Representative</h3>
								<h4>Summer 2014</h4>
								<p class="resume">Sold over $10,000 worth of flower bouquets at dance recitals and graduations</p>
							</div>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p class="resume">Daniel Hines &mdash; <a href="mailto:daniel.c.hines@vanderbilt.edu">daniel.c.hines@vanderbilt.edu</a> &mdash; (224) 422 - 8462</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->


</body>
</html>
