.msg { padding: 10px; background: #222; position: relative; }
.msg h1 { color: #fff;  }
.msg a { margin-left: 20px; background: #408814; color: white; padding: 4px 8px; text-decoration: none; }
.msg a:hover { background: #266400; }

/* //-- yui-grids style overrides -- */
body #inner { font-family: Georgia; color: #444; }
#inner { padding: 10px 80px; margin: 35px auto; background: #f5f3ed; border: solid #{{ site.color.secondary }}; border-width: 2px 2px 2px 2px; }

/* //-- header, body, footer -- */
p.resume { font-size: 100%; line-height: 18px; }
#inner h2 { font-size: 152%; font-family: Georgia; text-transform: none; font-weight: normal; padding: 0; margin: 0 0 6px 0; text-align: left; }
#inner h3, h4 { font-size: 122%; font-family: Georgia; text-transform: none; font-weight: normal; padding: 0; margin: 0; text-align: left; }
#inner h1, h2, h3, h4 { color: #333; }

#doc2 .yui-t7 { padding-right: 0; }
#doc2 a { color: #008b8b }
#doc2 a:hover { text-decoration: none; }
#doc2 strong { font-weight: bold; }
#doc2 li { line-height: 24px; border-bottom: 1px solid #ccc; }
#doc2 p.enlarge { font-size: 144%; padding-right: 6.5em; line-height: 24px; }
#doc2 p.enlarge span { color: #000 }

/* ---- header ---- */
#hd { margin: 2.5em 0 3em 0; padding-bottom: 1.5em; border-bottom: 1px solid #ccc }
#hd h1 { font-size: 48px; text-transform: uppercase; letter-spacing: 3px; font-family: Georgia; text-transform: none; font-weight: 700;}
#hd h2 { text-transform: uppercase; letter-spacing: 1px; font-style: italic; font-size: 135%; margin: 6px 0}
#hd .yui-gc div.name { margin-left: 0; width: 66%; float: left; }
#hd .yui-gc div.contact { margin-left: 1.99%; width: 32%; float: right; }
#hd .contact-info { margin-top: 7px; }
a#pdf { display: block; float: left; text-align: center; background: #228e8e; color: white; padding: 10px 55px; margin-bottom: 6px; margin-top: -10px; border-radius: 3px; text-decoration: none;  }
a#pdf:hover { background: #222; }

/* //-- footer -- */
#ft { padding: 1em 0 3em 0; font-size: 92%; border-top: 1px solid #ccc; text-align: center; }
#ft p { margin-bottom: 0; text-align: center;   }

#bd, #ft { margin-bottom: 2em; }

/* //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ body ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#bd .last { border: none; margin-bottom, padding-bottom: 0; }
#bd .first h2 { font-weight: normal; font-style: normal; }
#inner .yui-gf { margin-bottom: 2em; margin-top: 0; padding-bottom: 2em; border-bottom: 1px solid #ccc; }
#bd .yui-gf.last { border-bottom: 0; margin-bottom, padding-bottom: 0; }
/* -- To set left side of body to 1/8 -- */
#inner .yui-gf .yui-u{width:80.2%;}
#inner .yui-gf div.first{width:15%;}

/* //-- Education -- */
#bd .education h4 { position: absolute; top: 0.35em; right: 0 }
#bd .education { position: relative; margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc; }
#bd li.education { margin: 0 0 10px 1.2em; line-height: 15px; padding: 0; list-style-type: disc; border-bottom: none; }
#bd .education.last { border-bottom: none; margin-bottom: 2em; padding-bottom: 0px; }
.education ul { margin-top: 0.75em; }
.coursework { position: relative; margin-bottom: 1em; padding-bottom: 1em; }
.coursework h3 { width: 190px; float: left; }
.coursework h4 { position: absolute; top: 0.35em; right: 10px; width: 420px; }
.coursework .last { padding-bottom: 4em; }

/* //-- Experience/Jobs -- */
#bd .job { position: relative; margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #ccc; }
#bd .job h4 { position: absolute; top: 0.35em; right: 0 }
#bd .job h3 { font-style: italic; }
#bd .job p { margin: 0.75em 4em 1em 0; }
.job ul { margin-top: 0.75em; }
#bd li.job { margin: 0 0 10px 1.2em; line-height: 15px; padding: 0; list-style-type: disc; border-bottom: none; }
#bd li.job .last { border-bottom: none; margin-bottom: 2em; padding-bottom: 0px; }

/* //-- Languages -- */
#bd .talent { margin-top: 0; width: 32%; float: right }

#bd .skills-list {  }
#bd .skills-list ul { margin: 0; }
#bd .skills-list li { margin: 3px 0; padding: 3px 0; }
#bd .skills-list li span { font-size: 152%; display: block; margin-bottom: -2px; padding: 0 }

#srt-ttab { margin-bottom: 100px; text-align: center;  }
#srt-ttab img.last { margin-top: 20px }


